
.fx-LineChart-wrap {
  height:300px;
  margin:0 50px;
  padding:50px 0;
  border-radius:15px;
  .charts-title {
    padding: 0 40px;
    color: #fff;
    font-size: 28px;
    position: absolute;
  }
}
