
.fx-LineChart-wrap {
  height:580px;
  margin:30px 50px;
  padding:20px 0;
  border-radius:15px;
  background:#4a556c;
  .charts-title {
    padding: 0 40px;
    color: #fff;
    font-size: 28px;
    position: absolute;
  }
}
