$main_color: #2b364e;
$border_color: #05e4ab60;
$item-background: #4a556c60;

.fx-accountBook-wrap {
  background: $main_color;
  padding-top: 25px;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  .choice-wrapper {
    margin-top:40px;
    background: linear-gradient(120deg, $main_color, $item-background);
    border: 1px solid $border_color;
    border-radius: 20px;
    .content-inner__text {
      color: #ffffff;
    }
  }
  .choice-block .at-grid__flex .content-inner__text {
    font-size: 28px;
  }
  .fx-BookList-wrap {
    .at-card {
      margin: 0!important;
    }
    .at-card {
      background: linear-gradient(120deg, $main_color, $item-background);
      border:none;
    }
    .at-card__content {
      padding: 24px 24px 24px 34px;
    }
  }
  .at-card__header {
    padding: 24px 0;
    margin: 0 24px 0 34px;
    border-bottom: 1px solid $border_color;
    .at-card__header-title {
      color: #ffffff;
      font-weight: bold;
    }
  }
}
