$main_color: #2b364e;
$border_color: #05e4ab60;
$item-background: #4a556c60;
$income_color: #f65858;
$expense_color: #4ffa93;

.bookChart-wrap {
  width: 100%;
  min-height: 100vh;
  background: $main_color;
  .picker-wrapper {
    margin:0 66px;
    color: $expense_color;
    font-size:36px;
    border:2px solid $border_color;
    box-sizing:border-box;
    padding:20px;
    border-radius:8px;

  }
}
