$main_color: #2b364e;
$border_color: #05e4ab60;
$item-background: #4a556c60;
$income_color: #f65858;
$expense_color: #4ffa93;

.fx-BarChart-wrap {
  height: 800px;
  background: linear-gradient(120deg, $main_color, $item-background);
  padding: 32px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 20px 52px 40px;
  color: #ffffff;
  border: 1px solid $border_color;

  .charts-title {
    padding: 0 0 20px;
    color: #fff;
    font-size: 28px;
    border-bottom: 1px solid $border_color;
    margin: 0 20px 15px;
  }
 }
