$main_color: #2b364e;
$border_color: #05e4ab60;
$item-background: #4a556c60;
$income_color: #f65858;
$expense_color: #4ffa93;

.fx-PieChart-wrap {
  height: 800px;
  //background: linear-gradient(120deg, $main_color, $item-background);
  //border-radius: 20px;
  margin: 0 0 40px;
  padding: 60px 20px 20px;
  color: #ffffff;
  //border: 1px solid $border_color;
  position: relative;

  .charts-title {
    padding: 0 0 20px;
    color: #fff;
    font-size: 28px;
    border-bottom: 1px solid $border_color;
    margin: 0 52px 15px;
  }

  .empty-chart-wrapper {
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    text-align: center;
    padding: 60px 0;
    color: #999999;
  }
 }
