$main_color: #2b364e;
$border_color: #05e4ab60;
$item-background: #4a556c60;
$income_color: #f65858;
$expense_color: #4ffa93;

.newWish-wrap {
  width: 100%;
  min-height: 100vh;
  padding: 40px 0;
  background: $main_color;
  .at-form {
    position: static;
    &:before {
      width: 0;
      height: 0;
      border: none;
    }
    &:after {
      width: 0;
      height: 0;
      border: none;
    }
  }
  .newWish-content {
    background: $main_color;
  }
  picker{
    width:75%;
    margin:auto;
    height: 110px;
    margin-top: 40px;
  }
  .picker-wrapper {
    font-size: 32px;
    line-height:1.5;
    vertical-align:middle;
    text-align:left;
    position: relative;
    color: $expense_color;
    padding: 26px 32px 26px;
    border: 4px solid $border_color;
    border-radius: 8px;
    transition: border-color .25s;
    background: $main_color;
    .picker-content {
      position: absolute;
      right: 60px;
      color: #ffffff;
    }
    .at-icon {
      float: right;
      margin-top: 6px;
      color: $expense_color;
    }
  }
  .fx-ContentInput-wrap {
    margin-top: 40px;
  }
  .button-wrapper {
    margin-top: 100px;
    box-sizing: border-box;
    padding: 0 60px;
    .at-button {
      border-radius: 10px;
      width: 250px;
    }
    .submit-button {
      background: $income_color;
      border-color: $income_color;
    }
  }
}
