.fx-NavBar-wrap {
  width: 100%;
  padding: 25px 25px 25px 45px;
  background: #2b364e;
  color: #ffffff;
  .navBar-year {
    font-size: 26px;
    color: #E3E3E3;
    margin-bottom: 6px;
  }
  .navBar-month {
    font-size: 28px;
    padding-right: 40px;
    letter-spacing: 3px;
    .month-wrapper {
      font-size: 44px;
      font-weight: bold;
      margin-bottom: 4px;
    }
  }
  .navBar-only-year {
    font-size: 28px;
    padding-right: 20px;
    .month-wrapper {
      font-size: 38px;
      font-weight: bold;
      margin-bottom: 4px;
    }
  }
  .border-beside:after {
    background: #999999;
  }
  .navBar-footer {
    .footer-title {
      font-size: 26px;
      color: #E3E3E3;
      margin-bottom: 14px;
    }
    &.left-first {
      margin-left: 40px;
    }
    .footer-content {
      height: 30px;
      font-size: 22px;
      .money {
        font-size: 38px;
        padding-right: 4px;
        &.book-income {
          color: #f54552;
          font-weight: bold;
        }
        &.book-expense {
          color: #51ffa4;
          font-weight: bold;
        }
        &.book-budget {
          color: #a981fe;
          font-weight: bold;
        }
        &.book-count {
          font-weight: bold;
        }
      }
    }
  }
}
