$main_color: #2b364e;
$border_color: #05e4ab60;
$item-background: #4a556c60;
$income_color: #f65858;
$expense_color: #4ffa93;

.sharePage-wrap {
  width: 100%;
  min-height: 100vh;
  .shareInfo {
    text-align: center;
    font-size: 28px;
    color: #333333;
    padding: 100px 200px;
  }
  .at-form {
    width: 100%;
    margin: 200px auto 0;
    box-sizing: border-box;
    text-align: center;
    .button-check-item.at-button--primary {
      background: $income_color;
      display: inline-block;
      margin: 0 40px;
    }
    .button-trash-item.at-button--primary {
      background: $expense_color;
      display: inline-block;
      margin: 0 40px;
    }
  }
}
