.fx-CategoryList-wrap {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 50px 0;
  color: #ffffff;
  .choice-wrapper {
    margin-bottom: 45px;
    &:active {
      background-color: #4a5d6c;
    }
  }
  .icon-info {
    font-size: 26px;
  }
  .icon-wrapper {
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
  }
  .iconfont {
    font-size: 64px;
    line-height: 80px;
    &:after {
      text-align: center;
      width: 80px;
      line-height: 80px;
    }
  }
 }
