$main_color: #2b364e;
$border_color: #05e4ab60;
$item-background: #4a556c60;
$income_color: #f65858;
$expense_color: #4ffa93;

.newBook-container {
  background: #2b364e;
  height: 100vh;
  .iconfont {
    padding-top: 80px;
    text-align: center;
    font-size: 100px;
    color: $income_color;
    margin-bottom: 100px;
  }
  picker{
    width:75%;
    margin:auto;
    height:40px;
    margin-top: 40px;
  }
  .name-wrapper {
    font-size: 28px;
    .at-input__title {
      font-size: 28px;
    }
    .at-input__input {
      font-size: 28px!important;
    }
  }
  .book-setting-label {
    font-size: 28px;
    color: #fff;
    padding: 32px 24px;
  }
  .button-wrapper {
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    .button-item {
      margin: 32px;
      .form-button {
        background: #4a5d6c;
        border-color: #4a5d6c;
        color: #ffffff!important;
      }
      .submit-button {
        background: #ff5a5b;
        border-color: #ff5a5b;
      }
    }
  }
  //样式覆写
  .at-form {
    background: #2b364e;
    &:after {
      width: 0;
      height: 0;
    }
  }
  .at-input {
    background: #4a5d6c;
    color: #ffffff;
    margin: 0;
    padding: 24px 20px;
    & input[placeholder] {
      color: #e3e3e3;
    }
  }
  .input-control{
    margin: 30px auto;
    height: 40px;
  }
  .picker-wrapper {
    font-size: 32px;
    line-height:1.5;
    vertical-align:middle;
    text-align:left;
    position: relative;
    color: $expense_color;
    padding: 26px 32px 26px;
    border: 4px solid $border_color;
    border-radius: 8px;
    transition: border-color .25s;
    background: $main_color;
    .picker-content {
      position: absolute;
      right: 60px;
      color: #ffffff;
    }
    .at-icon {
      float: right;
      margin-top: 6px;
      color: $expense_color;
    }
  }
  .button-wrapper {
    box-sizing: border-box;
    bottom: 180px;
  }
  .border-bottom:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #ffffff;
    -webkit-transform: scale(1, 0.5);
    transform: scale(1, 0.5);
  }
  .at-switch {
    background:#4a5d6c;
    color:#fff;
    margin: 0;
    padding: 32px 24px;
    .at-switch__title {
      color: #fff;
    }
    .at-switch__container {
      background: #4a5d6c;
    }
  }
}

.input-margin-bottom {
  margin-bottom: 200px;
}
