
.newBook-container {
  background: #2b364e;
  height: 100vh;
  .name-wrapper {
    font-size: 28px;
    .at-input__title {
      font-size: 28px;
    }
    .at-input__input {
      font-size: 28px!important;
    }
  }
  .book-setting-label {
    font-size: 28px;
    color: #fff;
    padding: 32px 24px;
  }
  .button-wrapper {
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    .button-item {
      margin: 32px;
      .form-button {
        background: #4a5d6c;
        border-color: #4a5d6c;
        color: #ffffff!important;
      }
      .submit-button {
        background: #ff5a5b;
        border-color: #ff5a5b;
      }
    }
  }
  //样式覆写
  .at-form {
    background: #2b364e;
    &:after {
      width: 0;
      height: 0;
    }
  }
  .at-input {
    background: #4a5d6c;
    color: #ffffff;
    margin: 0;
    padding: 24px 20px;
    & input[placeholder] {
      color: #e3e3e3;
    }
  }
  .picker-wrapper {
    font-size: 28px;
    line-height:1.5;
    vertical-align:middle;
    text-align:left;
    position: relative;
    color: #ffffff;
    padding: 32px 10px 32px 24px;
    background: #4a5d6c;
    .picker-content {
      position: absolute;
      right: 50px;
      color: #999999;
    }
    .at-icon {
      float: right;
      margin-top: 6px;
      color: #e3e3e3
    }
  }
  .border-bottom:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #ffffff;
    -webkit-transform: scale(1, 0.5);
    transform: scale(1, 0.5);
  }
  .at-switch {
    background:#4a5d6c;
    color:#fff;
    margin: 0;
    padding: 32px 24px;
    .at-switch__title {
      color: #fff;
    }
    .at-switch__container {
      background: #4a5d6c;
    }
  }
}

.input-margin-bottom {
  margin-bottom: 200px;
}
