
newBook {
  width: 100%;
}

.newBook-container {
  margin: 20px;
}

.newBook-wrap {
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.input-margin-bottom {
  margin-bottom: 200px;
}

.form-button {
  margin: 0 20% 25px !important;
}
