$main_color: #2b364e;
$border_color: #05e4ab60;
$item-background: #4a556c60;

.fx-TravelPartyContent-wrap {
  width:100%;
  background-color:#2b364e;
  padding-bottom:160px;
  min-height:1000px;
  box-sizing: border-box;
  .inner-container {
    height: 470px;
  }
  .inner-item {
    margin: 30px;
    padding: 20px;
  }
  .item-container {
    border-radius: 20px;
    background: linear-gradient(120deg, $main_color, $item-background);
    padding: 25px;
    border: 1px solid $border_color;
    transition: background 0.1s;
    &:active {
      background: linear-gradient(120deg, $border_color, $item-background);
    }
  }
  .item-header {
    color: #ffffff;
    .travel-title {
      font-size: 28px;
      margin-bottom: 6px;
      font-weight: bold;
    }
    .travel-create-time {
      font-size: 22px;
      color: #e3e3e3;
      margin-bottom: 36px;
    }
    .header-right {
      color: #f54552;
      font-weight: bold;
    }
  }
  .image-content {
    width: 200px;
    height: 200px;
    background: #e3e3e3;
    border-radius: 15px;
    overflow: hidden;
  }
  .detail-content {
    padding-left: 20px;
  }
  .detail-item {
    font-size: 22px;
    color: #fff;
    .title-wrapper {
      margin-left: 5px;
    }
    .item-money {
      color: #E3E3E3;
    }
  }
 }
