$main_color: #2b364e;
$border_color: #05e4ab60;
$item-background: #4a556c60;
$income_color: #f65858;
$expense_color: #4ffa93;

.fx-TravelPartyContent-wrap {
  width:100%;
  background-color:#2b364e;
  padding-bottom:160px;
  min-height:1000px;
  box-sizing: border-box;
  .inner-container {
    height: 470px;
  }
  .inner-item {
    margin: 30px;
    padding: 20px;
  }
  .iconfont {
    display:inline-block;
    width:50px;
    line-height:50px;
    border-radius:50%;
    font-size:35px;
    color:#fff;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center;
    margin:0 20px 0 0;

  }
  .item-container {
    border-radius: 20px;
    background: linear-gradient(120deg, $main_color, $item-background);
    padding: 25px;
    border: 1px solid $border_color;
    transition: background 0.1s;
    &:active {
      background: linear-gradient(120deg, $border_color, $item-background);
    }
  }
  .item-header {
    color: #ffffff;
    .travel-title {
      font-size: 28px;
      margin-bottom: 6px;
      font-weight: bold;
    }
    .travel-create-time {
      font-size: 22px;
      color: #e3e3e3;
      margin-bottom: 36px;
    }
    .header-right {
      color: $expense_color;
      font-weight: bold;
    }
  }
  .image-content {
    width: 200px;
    height: 200px;
    background: #e3e3e3;
    border-radius: 15px;
    overflow: hidden;
    background: url("http://d2f7o8gw4q8bay.cloudfront.net/%E5%A4%8F%E5%A8%81%E5%A4%B7%E7%83%A4%E9%B8%A1%E6%8A%AB%E8%90%A8.png") bottom no-repeat;
  }
  .detail-content {
    padding-left: 20px;
  }
  .detail-item {
    font-size: 22px;
    color: #fff;
    .title-wrapper {
      margin-left: 5px;
    }
    .item-money {
      color: #E3E3E3;
    }
  }
 }
