$main_color: #2b364e;
$second_color: #4a556c;
$border_color: #05e4ab60;
$item-background: #4a556c60;
$income_color: #f65858;
$expense_color: #4ffa93;

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.same-border {
  position: absolute;
  z-index: 1;
  content: "";
  background-color: $border_color;
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
}

.half-border-bottom, .half-border-top, .half-border-left, .half-border-right{
  position: relative;
}

.half-border-bottom::after {
  bottom: 0;
  right: 0;
  left: 0;
  height: 1px;
  @extend .same-border;
}

.half-border-top::before {
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  @extend .same-border;
}

.half-border-left::before {
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  @extend .same-border;
}

.half-border-right:after {
  bottom: 0;
  right: 0;
  width: 1px;
  @extend .same-border;
}

.border-beside:after {
  content: '';
  height: 100%;
  width: 1px;
  background-color: #E3E3E3;
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
  z-index: 1;
}

.border-shadow {
  -webkit-box-shadow: 0 10px 16px rgba(32, 33, 36, 0.28);
  box-shadow: 0 10px 16px rgba(32, 33, 36, 0.28);
}

// 底部单按钮样式
.single-button-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
  padding: 10px 100px;
  box-sizing: border-box;
  .single-button {
    border-radius: 100px;
    line-height: 80px!important;
    font-size: 28px;
    color: #fff;
    background: linear-gradient(120deg, $main_color, $item-background);;
    box-shadow:0 4px 1px $main_color, 0 0 1px 3px $second_color;
    border: 1px solid $border_color;
    transition: background 0.1s;
    &:active {
      background: linear-gradient(120deg, $border_color, $item-background);
    }
  }
}
