$main_color: #2b364e;
$border_color: #05e4ab60;
$item-background: #4a556c60;

.fx-DailyContent-wrap {
  width: 100%;
  padding: 20px 52px;
  box-sizing: border-box;
  .daily-header {
    font-weight: bolder;
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #ffffff;
    .content-date, .content-total {
      letter-spacing: 3px;
    }
  }
  .daily-content {
    box-sizing: border-box;
    padding-bottom: 20px;
  }
  .daily-item {
    background: linear-gradient(120deg, $main_color, $item-background);
    padding: 32px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    border: 1px solid $border_color;
    transition: background 0.1s;
    &:active {
      background: linear-gradient(120deg, $border_color, $item-background);
    }
  }
  .item-name {
    font-size: 28px;
  }
  .item-intro {
    .at-icon:before {
      margin-right: 20px;
    }
  }
  .item-note {
    font-size:22px;
    margin-top:10px;
    margin-left:53px;
    color:#e3e3e3;
  }
  .item-money {
    color: #e3e3e3;
    font-size: 28px;
  }
  .income-count {
    color: #f54552;
  }
  .expense-count {
    color: #51ffa4;
  }
 }
