.fx-DailyContent-wrap {
  width: 100%;
  padding: 20px 52px;
  box-sizing: border-box;
  .daily-header {
    font-weight: bolder;
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #ffffff;
    .content-date, .content-total {
      letter-spacing: 3px;
    }
  }
  .daily-content {
    box-sizing: border-box;
    padding-bottom: 20px;
  }
  .daily-item {
    background: #4a556c;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  .item-intro {
    .at-icon:before {
      margin-right: 20px;
    }
  }
  .item-money {
    color: #e3e3e3;
    font-size: 0.9rem;
  }
  .income-count {
    color: #f54552;
  }
  .expense-count {
    color: #51ffa4;
  }
 }

.border-bottom:after {
  display: block;
  content: '';
  margin: 40px 20px 0;
  box-sizing: border-box;
  height: 1px;
  background: linear-gradient(to right, #EEEEEE, #E3E3E3, #EEEEEE);
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
}
