.fx-DailyContent-wrap {
  width: 100%;
  padding: 20px 52px;
  box-sizing: border-box;
  .daily-header {
    font-weight: bolder;
    font-size: 0.9rem;
    margin-bottom: 10px;
    .content-date, .content-total {
      letter-spacing: 3px;
    }
  }
  .daily-content {
    border-radius: 8px;
    background: #ffffff;
    box-sizing: border-box;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  }
  .daily-item {
    background: #ffffff;
    padding: 32px;
    box-sizing: border-box;
  }
  .item-intro {
    .at-icon:before {
      margin-right: 20px;
    }
  }
  .item-money {
    color: #999999;
    font-size: 0.9rem;
  }
 }

.border-bottom:after {
  content: '';
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, #666666, #999999, #666666, transparent);
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
}
